#map {
	width: 100%;
	height: 500px;
	color: black;
}

body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #4484CE;
	color: white;
}

form {
	margin-bottom: 0;
}

.textLogo {
	font-size: 20px;
	display: inline-block;
}

.aboutPage {
	display: none;
	background-color: #4484CE;
}

.logInPage {
	display: none;
	background-color: #4484CE;
}

.addFaucetPage {
	display: none;
	background-color: #4484CE;
}

.checkFountains {
	width: 100%;
	height: 2em;
	line-height: 2em;
	background-color: #F19F4d;
	color: white;
	text-align: center;
}

.logo {
	font-size: 1.5em;
	display: inline-block;
}
.logoRight {
	display: inline-block;
	float: right;
}
.barSpacer {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.pointerHover:hover {
	cursor: pointer;
}